﻿body {
    background-image: url(/images/symphony.png);
    font-family:'Trebuchet MS'
}

table#table1 {
    background-color: #f1f1c1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
    margin-left: auto;
    margin-right: auto;
}

table#table2 tr:nth-child(odd) {
   background-color: #ccc;
}

li {
    display: inline-block;
    float: left;
    text-align: center;
}

a {
    display: inline-block;
    width: 180px;
    text-align: center;
}

h1 {
    text-align: center;
}